<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.zackratos.shanbaywork.customcontrols">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".dialog.DialogControlsActivity"/>
        <activity android:name=".view.ViewControlsActivity"/>
    </application>

</manifest>
